<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="csrf-token" content="UTDQHUMnQs9GC9VYhC9EaF5Db5U3oNpH3LpUisuu">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Tailwise admin is super flexible, powerful, clean &amp; modern responsive tailwind admin template with unlimited possibilities.">
    <meta name="keywords"
        content="admin template, Tailwise Admin Template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="LEFT4CODE">
    <title>Tailwise - Admin Dashboard Template</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="/css/tippy.css">
    <link rel="stylesheet" href="/css/app.css"> <!-- END: CSS Assets-->
</head>
<!-- END: Head -->

<body>
    <div
        class="container grid grid-cols-12 px-5 py-10 sm:px-10 sm:py-14 md:px-36 lg:h-screen lg:max-w-[1550px] lg:py-0 lg:pl-14 lg:pr-12 xl:px-24 2xl:max-w-[1750px]">
        <div
            class="relative z-50 h-full col-span-12 p-7 sm:p-14 bg-white rounded-2xl lg:bg-transparent lg:pr-10 lg:col-span-5 xl:pr-24 2xl:col-span-4 lg:p-0 before:content-[''] before:absolute before:inset-0 before:-mb-3.5 before:bg-white/40 before:rounded-2xl before:mx-5">
            <div class="relative z-10 flex flex-col justify-center w-full h-full py-2 lg:py-32">
                <div
                    class="flex h-[55px] w-[55px] items-center justify-center rounded-[0.8rem] border border-primary/30">
                    <div
                        class="relative flex h-[50px] w-[50px] items-center justify-center rounded-[0.6rem] bg-white bg-gradient-to-b from-theme-1/90 to-theme-2/90">
                        <div class="relative h-[26px] w-[26px] -rotate-45 [&amp;_div]:bg-white">
                            <div class="absolute inset-y-0 left-0 my-auto h-[75%] w-[20%] rounded-full opacity-50">
                            </div>
                            <div class="absolute inset-0 m-auto h-[120%] w-[20%] rounded-full"></div>
                            <div class="absolute inset-y-0 right-0 my-auto h-[75%] w-[20%] rounded-full opacity-50">
                            </div>
                        </div>
                    </div>
                </div>

                <% if (error_msg) { %>
                <div role="alert"
                    class="alert relative border rounded-md px-5 py-4 border-primary text-primary dark:border-primary my-7 flex items-center rounded-[0.6rem] border-primary/20 bg-primary/5 px-4 py-3 leading-[1.7]">
                    <div class="ml-1 mr-8">
                        <%= error_msg %>
                    </div>
                    <button data-tw-merge="" data-tw-dismiss="alert" type="button" aria-label="Close" class="py-2 px-3 absolute right-0 my-auto mr-2 btn-close text-primary"><i data-tw-merge="" data-lucide="x" class="stroke-[1] w-5 h-5"></i></button>
                </div>
                <% } %>
                
                <% if (success_msg) { %>
                    <div role="alert" class="alert relative border rounded-md px-5 py-4 border-primary text-primary dark:border-primary my-7 flex items-center rounded-[0.6rem] border-primary/20 bg-primary/5 px-4 py-3 leading-[1.7]">
                        <div class="ml-1 mr-8">
                        <%= success_msg %>
                        </div>
                        <button data-tw-merge="" data-tw-dismiss="alert" type="button" aria-label="Close" class="py-2 px-3 absolute right-0 my-auto mr-2 btn-close text-primary"><i data-tw-merge="" data-lucide="x" class="stroke-[1] w-5 h-5"></i></button>
                    </div>
                <% } %>