</div>
</div>

<!-- BEGIN: Vendor JS Assets-->
<script src="/js/dom.js"></script>
<script src="/js/tailwind-merge.js"></script>
<script src="/js/lucide_1.js"></script>
<script src="/js/dayjs.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
<script src="/js/litepicker.js"></script>
<script src="/js/tiny-slider_1.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/dropdown.js"></script>
<script src="/js/tippy.js"></script>
<script src="/js/simplebar.js"></script>
<script src="/js/transition.js"></script>
<script src="/js/chartjs.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/theme-color.js"></script>
<script src="/js/lucide.js"></script>
<script src="/js/litepicker_1.js"></script>
<script src="/js/tiny-slider.js"></script>
<script src="/js/colors.js"></script>
<script src="/js/helper.js"></script>
<script src="/js/report-line-chart.js"></script>
<script src="/js/report-donut-chart-3.js"></script>
<script src="/js/tippy_1.js"></script>
<script src="/js/echo.js"></script>
<script src="/js/quick-search.js"></script> <!-- END: Vendor JS Assets-->
<script src="/js/alert.js"></script>

<script>
    new TomSelect(".tom-select", {
            persist: false,
            createOnBlur: true,
            create: true
        });
</script>

<!-- BEGIN: Pages, layouts, components JS Assets-->
<!-- END: Pages, layouts, components JS Assets-->

</body>

</html>